CompileFlags:                     # Tweak the parse settings
  Add: [-std=c++98]
Diagnostics:
  UnusedIncludes: Strict
  ClangTidy:
    Add: [llvm-include-order]
    CheckOptions:
      readability-identifier-naming.VariableCase: CamelCase
